<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet Our Team</title>
    <link rel="stylesheet" href="./../public/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <!-- About Us Section -->
    <!-- Our Domains Section -->
    <!-- Events Card Section -->

    <!-- Meet Our Team Section -->
    <div class="team-section">
      <h2>MEET OUR TEAM</h2>
      <div class="team-container">
        <div class="team-member">
          <img
            src="https://media.licdn.com/dms/image/v2/C5603AQGjEPYeyeSA2g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1573874503657?e=1732752000&v=beta&t=Z35qyek4LH91WdVAGvzlbfiqHSkrtHUYNrvEem7Fii0"
            alt="Dr. Manjunath T N"
            class="profile-pic"
          />
          <p><strong>Dr. Manjunath T N</strong><br />Faculty Advisor</p>
          <a
            href="https://www.linkedin.com/in/manjunathtn/"
            target="_blank"
            rel="noopener noreferrer"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="team-member">
          <img
            src="link-to-bhavya-profile-image"
            alt="Mrs. Bhavya G"
            class="profile-pic"
          />
          <p><strong>Mrs. Bhavya G</strong><br />Faculty Coordinator</p>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="team-member">
          <img
            src="https://media.licdn.com/dms/image/v2/D4D03AQHp5kIXI-LZ_g/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1712327423107?e=1732752000&v=beta&t=EnpN3EbFjSIGvWMxLuk7i5Hkpf_lMPpiroBuxQgdDww"
            alt="Chandu RT"
            class="profile-pic"
          />
          <p><strong>Chandu RT</strong><br />President</p>
          <a
            href="https://www.linkedin.com/in/chandurt18/"
            target="_blank"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="team-member">
          <img
            src="https://media.licdn.com/dms/image/v2/D5603AQFnoWet9Pe1XQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1692112426091?e=1732752000&v=beta&t=u8sy3guBo2XsTiBRhNWnahsxHuE_14n9Fac2fQis7co"
            alt="Daniel Mathews"
            class="profile-pic"
          />
          <p><strong>Daniel Mathews</strong><br />Vice President</p>
          <a
            href="https://www.linkedin.com/in/daniel-mathews-2655bb278/"
            target="_blank"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="team-member">
          <img
            src="link-to-chandu-profile-image"
            alt="Chandu RT"
            class="profile-pic"
          />
          <p><strong>Chandu RT</strong><br />President</p>
          <a
            href="https://www.linkedin.com/in/chandurt18/"
            target="_blank"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="team-member">
          <img
            src="link-to-chandu-profile-image"
            alt="Chandu RT"
            class="profile-pic"
          />
          <p><strong>Chandu RT</strong><br />President</p>
          <a
            href="https://www.linkedin.com/in/chandurt18/"
            target="_blank"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="team-member">
          <img
            src="link-to-chandu-profile-image"
            alt="Chandu RT"
            class="profile-pic"
          />
          <p><strong>Chandu RT</strong><br />President</p>
          <a
            href="https://www.linkedin.com/in/chandurt18/"
            target="_blank"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="team-member">
          <img
            src="link-to-chandu-profile-image"
            alt="Chandu RT"
            class="profile-pic"
          />
          <p><strong>Chandu RT</strong><br />President</p>
          <a
            href="https://www.linkedin.com/in/chandurt18/"
            target="_blank"
            class="linkedin-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Testimonials and Reach Out Section -->
    <div class="container">
      <div class="left-section">
        <h2>People are Talking About LSFS</h2>
        <p>
          Everything you need to learn coding from the ground up, at your own
          pace. Whether you're a beginner or looking to advance your skills,
          LSFS is here to guide you every step of the way.
        </p>
        <blockquote>
          <p>
            "I joined LSFS with no coding background and now I'm building my own
            apps! The community and resources are incredibly supportive and
            effective."
          </p>
          <cite>- Asim Aftab</cite>
        </blockquote>
      </div>

      <div class="right-section">
        <div class="form-icon">
          <i class="fas fa-envelope"></i>
        </div>
        <h3>Reach Out</h3>
        <form action="https://api.web3forms.com/submit" method="post">
          <input
            type="hidden"
            name="access_key"
            value="23c7f187-f62c-4ee2-b8aa-5137fe7d958c"
          />
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Enter your name"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              id="message"
              name="message"
              placeholder="How can we assist you?"
              required
            ></textarea>
          </div>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
    <hr/>

    <!-- Footer -->
    <footer>
      <div class="footer-logo">
        <img src="/public/images/logo.png" alt="LSFS Logo" />
      </div>

      <div class="social-links">
        <a href="https://discord.gg/UYBNPa7hH6"><img src="/public/images/discord.png" alt="Discord" /></a>
        <a href="#"><img src="/public/images/whatsapp.png" alt="WhatsApp" /></a>
        <a href="https://www.instagram.com/lsfs_community.bmsit/"
          ><img src="/public/images/instagram.png" alt="Instagram"
        /></a>
        <a href="https://www.linkedin.com/groups/14466143/"
          ><img src="/public/images/linkedin.png" alt="LinkedIn"
        /></a>
      </div>

      <div class="footer-contact">
        <img src="/public/images/mail.png" alt="Email Icon" />
        <a href="mailto:lsfs@gmail.com">lsfs@gmail.com</a>
      </div>

      <div class="footer-info">
        <br />
        <p>&copy; 2024 LSFS Copyright and rights reserved</p>
        <a href="#">Terms and Conditions</a> <a href="#">Privacy Policy</a>
      </div>

      <div class="support-links">
        <a href="#">About Us</a>
        <a href="#">Gallery</a>
        <a href="#">Event</a>
        <a href="#">Contact Us</a>
      </div>
    </footer>
  </body>
</html>
